body{
    background-color:rgb(0, 0, 10, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    height:1000px
}
.big{
    width:600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(0,20,20, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    width:500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border-style:solid;
    border-color:rgb(35, 118, 207); 
    position: absolute;
    border-color: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,58,255,0) 100%);
    border-width:1px;
    background-color: aliceblue;
    box-shadow: 100cap;
}