body{
    background-color:rgb(0, 0, 10, 0.8);
    display: flex;
    justify-content: center;
    align-items:center;
    height:1000px
}
.big{
    width:500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(0,20,20, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    width:400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border-style:solid;
    border-color:rgb(35, 118, 207); 
    position: absolute;
    border-color: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,58,255,0) 100%);
    border-width:1px;
    background-color: aliceblue;
    box-shadow: 100cap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l{
    -webkit-transform:rotate(360deg);
    -webkit-transition-duration: 8s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.s{
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 50%;
    border-width: 30px;
}
.m{
    height:100px;
    width:100px;
    border-radius: 50%;
    border-style:solid;
    border-width: 10px;
    position:git absolute;
}
.l:hover{
    transform: rotate(360deg)
}